
{% extends 'main/base.html' %}
{% load static %}
{% block title %}
О сайте
{% endblock %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
{% block content %}
    <h1 style=" background-color: white">Планировщик задач</h1>
    <p style=" background-color: white">Планировщик задач - это инструмент, который помогает организовать и структурировать рабочий день, позволяя
        пользователю создавать, управлять и отслеживать задачи, которые необходимо выполнить. Он предоставляет
        возможность создавать список дел, устанавливать приоритеты, устанавливать сроки выполнения, делить задачи на
        подзадачи, устанавливать напоминания и оповещения, а также отслеживать прогресс выполнения задач. Планировщик
        задач может быть как физическим предметом, таким как ежедневник или еженедельник, так и цифровым приложением
        или программой, доступной на компьютере, планшете или смартфоне. Он помогает повысить производительность,
        эффективность и организованность работы, а также уменьшить стресс и забывчивость.</p>
{% endblock %}

