{% extends 'main/base.html' %}

{% block title %}
Создание задач
{% endblock %}

{% block content %}
    <h1 style="color:red">Создать задачу</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.title }}<br>
        {{ form.task }}<br>
        {{ form.date }}<br>
        {{ form.time }}<br>
        <button type="submit" class="btn btn-success"> Добавить </button>
<!--        <span>{{ error }}</span>-->
    </form>
{{ form.title.errors }}
{{ form.task.errors }}
{{ form.date.errors }}
{{ form.time.errors }}
{% endblock %}
